<h1>Buscando recetas con: <%= params[:text] %></h1>
  <table border="1">
    <tr>
      <th>Imagen</th>
      <th>Publisher</th>
      <th>Title</th>
    </tr>
    <% @recipes.each do |recipe| %>
      <tr class=<%= cycle('even', 'odd') %>>
        <td><%= image_tag(recipe["image_url"])%></td>
        <td><%= recipe['title'] %></td>
        <td><%= recipe['social_ra'] %></td>
      </tr>
    <% end %>
  </table>
