<div class="row">
  <div class="col-lg-8">
    <div class="bs-component">
        <%= content_tag :span, "#{@book.name} (#{@book.author})", class: "h1"%>
        <%= link_to 'Edit', edit_book_path(@book) %>
    </div>
  </div>
</div>

<div id="notes" class="bs-docs-section">
  <%= render @book.notes %>
</div>

<div class="bs-docs-section">
  <div class="col-lg-8">
  <%= form_for([@book, @book.notes.new]) do |f| %>
    <div class="row">      
      <div class="form-group has-success">
        <%= f.label :title, class: "control-label" %>
        <%= f.text_field :title , class: "form-control"%>
      </div>
      <div class="form-group has-success">
        <%= f.label :note, class: "control-label" %>
        <%= f.text_area :note, size: "25x5", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <%= f.submit "Agregar Nota!" , class: "btn btn-success"%> 
      <%= link_to 'Atrás', books_path , class: "btn btn-default"%>
    </div>
  <% end %> 
  </div>
</div>